{%extends "VentaLibre/base.html" %}

{% load static %}

{%block main %}
<div class="content">
	<div class="about-section" id="about" id="about">
<div class="container">
	<div class="about-header">
		<h3>Sobre mi</h3>
		
		<div class="about-text">
				<p>Mi nombre es Julieta Vera, tengo 19 años y estoy estudiando el primer año de la carrera de </p> 
				<p>Licenciatura en Ciencias de la Computación en la Universidad de Buenos Aires. Debido a que mi  </p>
                <p>carrera está relacionada con la programación, decidí tomar el curso de Python para aprender a  </p>
                <p>programar. </p>
                <p>La página web que desarrollé para el proyecto final se llama “Venta Libre”.  Está inspirada en el sitio  </p>
                <p>web de Mercado Libre y la función de la misma consiste en vender artículos de tecnología como  </p>
                <p>celulares, tablets y computadoras. Los usuarios tienen la posibilidad de publicar en el sitio sus ventas, </p>
                <p>editarlas y borrarlas. Los usuarios pueden registrarse e iniciar sesión. Además, pueden enviar  </p>
                <p>mensajes, editarlos y borrarlos.</p>
                
		</div>

    

{% endblock %}