{%extends "VentaLibre/index.html" %}

{% load static %}



{%block vistas %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

<div class="col">
  {% if not articulos%}
  <h1> No hay articulos disponibles</h1>
  {%endif%}
  
  {% for articulo in articulos %}
    <div class="card shadow-sm">
    <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="{{articulo.image_url}}" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text"> {{articulo.titulo}}</p>
        <a href="{% url 'articulo-detail' articulo.id %}" type= "button" class="btn btn-sm btn-outline-secondary">Detalles</a>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
          
             {% if user.is_authenticated and user.id == articulo.propietario.id  %}
                    <a href="{% url 'articulo-delete' articulo.id %}" type= "button" class="btn btn-sm btn-outline-secondary">Borrar</a>
                    <a href="{% url 'articulo-update' articulo.id %}" type="button" class="btn btn-sm btn-outline-secondary">Actualizar</a>
                 {% endif %}
                 </div>
                 <small class="text-muted">${{ articulo.precio }}</small>
         
            </div>
            </div>
        </div>
        </div>
    {% endfor %}
  </div>

{% endblock %}